### Build definitions for Win32 cross build.
### BY GNU/Linux (and maybe other *nix like OSs) host to MinGW32 target.
### Please copy this to buildvars_mingw_cross_win32.dat and edit.
#
#CMAKE=/usr/bin/cmake
BUILD_TOOLCHAIN="GCC"

BUILD_TYPE="Release"
# "No" or "Yes".
CSP_DEBUG="NO"
# "No" or "Yes".
USE_LTO="Yes"

# No" or "Yes"
STRIP_SYMBOLS="Yes"
# "No" or "Yes"
USE_RADICAL_OPTIMIZE="No"

# "No" or "Yes"
USE_COMMON_DEVICE_LIB="Yes"

ADDITIONAL_MAKEFLAGS_LINK_EXE=""
ADDITIONAL_MAKEFLAGS_LINK_DLL=""
ADDITIONAL_MAKEFLAGS_LINK_LIB=""

FFMPEG_DIR="/usr/local/i586-mingw-msvc/ffmpeg-3.2"
MAKEFLAGS_GENERAL="-j3"
MAKEFLAGS_BASE=""

