### Build definitions for GNU/Linux (and maybe other *nix like OSs) native build.
### Please copy this to buildvars.dat and edit.
#

BUILD_TOOLCHAIN="GCC"
CC_SUFFIX=6
#BUILD_TOOLCHAIN="LLVM"
#CC_SUFFIX=4.0


BUILD_TYPE="Relwithdebinfo"
# "No" or "Yes".
CSP_DEBUG="No"
# "No" or "Yes".
USE_LTO="Yes"
# "No" or "Yes"
STRIP_SYMBOLS="No"
# "No" or "Yes"
COMPRESS_SYMBOLS="No"
# "No" or "Yes"
USE_RADICAL_OPTIMIZE="Yes"
# "No" or "Yes"
USE_COMMON_DEVICE_LIB="Yes"
# "No" or "Yes"
USE_WHOLE_PROGRAM_OPTIMIZE="No"
# Threads when using LTO.
LTO_THREADS=6

# Shrinked debug symbols;
# This may not be used both LTO.
USE_SHRINK_DEBUG_SYMBOL="No"

# "No" or "Yes"
USE_OPENMP="No"

# "No" or "Yes"
USE_SANITIZER="No"

# "Default" or "String" or "All" or "No" or "Yes"
USE_STACK_PROTECTION="Default"

ADDITIONAL_MAKEFLAGS_LINK_EXE=""
ADDITIONAL_MAKEFLAGS_LINK_DLL=""
ADDITIONAL_MAKEFLAGS_LINK_LIB=""

FFMPEG_DIR="/usr/include/x86_64-linux-gnu/"
#QT5_DIR="/usr/include/x86_64-linux-gnu/"
#FFMPEG_DIR="/usr/include/x86_64-linux-gnu/"
#QT5_DIR="/usr/include/x86_64-linux-gnu/"
#FFMPEG_DIR="/usr/local/ffmpeg-3.2"
#QT5_DIR="/opt/Qt5.5.1/5.5/gcc_64"

LIB_INSTALL="/usr/local/lib/x86_64-linux-gnu/"

MAKEFLAGS_GENERAL="-j3"
#MAKEFLAGS_BASE=""
# Below sets make with affinity mask.Using excepts CPU CORE #1 and #7.
#AFFINITY_MAKE="taskset 0xfbe make" 


CMAKE_APPENDFLAG="${CMAKE_APPENDFLAG} -DUSE_MOVIE_SAVER=ON -DUSE_MOVIE_LOADER=ON"


