### Build definitions for Win32 cross build.
### BY GNU/Linux (and maybe other *nix like OSs) host to MinGW32 target.
### Please copy this to buildvars_mingw_cross_win32.dat and edit.
#
#CMAKE=/usr/bin/cmake
BUILD_TOOLCHAIN="GCC"
#BUILD_TOOLCHAIN="LLVM"
#BUILD_TOOLCHAIN="CUSTOM"
##
#CUSTOM_BASE_PATH="/source code path/source/build-cmake/"
## If you choose "CUSTOM" as BUILD_TOOLCHAIN, edit and uncomment below.
#CUSTOM_TOOLCHAIN_PATH=""

BUILD_TYPE="Release"

# "No" or "Yes".
CSP_DEBUG="NO"

# "IA32" "AMD64" "ARM32" "ARM64"
MAJOR_ARCH="IA32"

# "SSE1" "SSE2" "SSE3" "AVX" or "NO"
LOCAL_ARCH_TYPE="SSE2"

# "No" or "Yes".
USE_LTO="Yes"
# "No" or "Yes"
USE_WHOLE_PROGRAM_OPTIMIZE="Yes"
# Threads when using LTO.
LTO_THREADS=12

# No" or "Yes"
STRIP_SYMBOLS="Yes"
# "No" or "Yes"
USE_RADICAL_OPTIMIZE="No"
# "No" or "Yes"
COMPRESS_SYMBOLS="No"

# "No" or "Yes"
USE_COMMON_DEVICE_LIB="Yes"

# "No" or "Yes"
USE_OPENMP="No"

# "No" or "Yes"
USE_SANITIZER="No"

# "Default" or "String" or "All" or "No" or "Yes"
USE_STACK_PROTECTION="Default"

ADDITIONAL_MAKEFLAGS_LINK_EXE=""
ADDITIONAL_MAKEFLAGS_LINK_DLL=""
ADDITIONAL_MAKEFLAGS_LINK_LIB=""

FFMPEG_DIR="/usr/local/i586-mingw-msvc/ffmpeg-3.4"
MAKEFLAGS_GENERAL="-j3"
MAKEFLAGS_BASE=""
# Below sets make with affinity mask.Using excepts CPU CORE #1 and #7.
#AFFINITY_MAKE="taskset 0xfbe make" 

# If using custom toolchain, modify and uncomment below.
#TOOLCHAIN_PREFIX="/path/to/custom/root/"
